<a href="https://colab.research.google.com/github/mehjabeenalam-ux/Learning_Python-for-Beginners/blob/main/Basic_List_Activities.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

List Actions

https://python.datalumina.com/data-structures/lists#checking-lists

Accessing Lists

In [32]:
employee_list = ["Amy", "John", "Mary", "Ken", "Mary"]

#Accessing Items
print(employee_list[0])
print(employee_list[1])
print(employee_list[2])
print(employee_list[3])
print(employee_list[4])

print(employee_list[-1])
print(employee_list[-2])
print(employee_list[-3])
print(employee_list[-4])
print(employee_list[-5])

#Slicing

print(employee_list[0:2]) #First 2 elements
print(employee_list[0:]) #Entire List
print(employee_list[1:])
print(employee_list[0:7])

#Len
print(len(employee_list))

Amy
John
Mary
Ken
Mary
Mary
Ken
Mary
John
Amy
['Amy', 'John']
['Amy', 'John', 'Mary', 'Ken', 'Mary']
['John', 'Mary', 'Ken', 'Mary']
['Amy', 'John', 'Mary', 'Ken', 'Mary']
5


Changing items in a list

In [ ]:
employee_list = ["Amy", "John", "Mary", "Ken", "Mary"]

employee_list[0] = "Mehjabeen"
employee_list[4] = "Nazmul"
employee_list[-1] = "Nazmul"
print(employee_list)

['Mehjabeen', 'John', 'Mary', 'Ken', 'Nazmul']

Add items to a list to the end

In [ ]:
employee_list.append("Fatema")

print(employee_list)

['Mehjabeen', 'John', 'Mary', 'Ken', 'Nazmul', 'grape', 'Fatema']

Inserting Items in a List in a specific position

In [ ]:
employee_list.insert(0, "Tareq")
print(employee_list)

['Tareq', 'Mehjabeen', 'John', 'Mary', 'Ken', 'Nazmul', 'grape', 'Fatema']

Remove Items from a List

In [ ]:
# Remove by value

employee_list.remove("Nazmul")
print(employee_list)

# Remove and return last

employee_list.pop()
print(employee_list)

del employee_list[0]
print(employee_list)

['John', 'Mary', 'Ken', 'grape']
['John', 'Mary', 'Ken']
['Mary', 'Ken']


List methods

In [ ]:
# Information
numbers = [3, 1, 4, 1, 5, 9]

print(len(numbers))         # 6 (length)
print(numbers.count(1))     # 2 (count occurrences)
print(numbers.index(4))     # 2 (find position)
print(numbers.index(3))
print(numbers.index(1))
print(numbers.index(9))

6
2
2
0
1
5