<a href="https://colab.research.google.com/github/mehjabeenalam-ux/Learning_Python-for-Beginners/blob/main/Basic_RegEx_Functions_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Basic RegEx Functions

Import Re Module

In [2]:
import re

Searching for specific texts or characters from a certain text or paragraph

In [5]:
txt = "The rain in Spain"
x = re.search("^The.*Spain$", txt)
print(x)

<re.Match object; span=(0, 17), match='The rain in Spain'>

The findall() Function

The findall() function returns a list containing all matches.

In [6]:
import re

txt = "The rain in Spain"
x = re.findall("ai", txt)
print(x)

['ai', 'ai']

The list contains the matches in the order they are found.

If no matches are found, an empty list is returned:

Return an empty list if no match was found:

In [7]:
txt = "The rain in Spain"
x = re.findall("Portugal", txt)
print(x)

[]

The search() Function

The search() function searches the string for a match, and returns a Match object if there is a match.

If there is more than one match, only the first occurrence of the match will be returned:

Search for the first white-space character in the string:

In [8]:
txt = "The rain in Spain"
x = re.search("\s", txt)

print("The first white-space character is located in position:", x.start())

The first white-space character is located in position: 3

<>:2: SyntaxWarning: invalid escape sequence '\s'
<>:2: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipython-input-2475231955.py:2: SyntaxWarning: invalid escape sequence '\s'
  x = re.search("\s", txt)

Make a search that returns no match:

In [9]:
txt = "The rain in Spain"
x = re.search("Portugal", txt)
print(x)

None

The split() Function

The split() function returns a list where the string has been split at each match:

Split at each white-space character:

In [10]:
txt = "The rain in Spain"
x = re.split("\s", txt)
print(x)

['The', 'rain', 'in', 'Spain']

<>:2: SyntaxWarning: invalid escape sequence '\s'
<>:2: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipython-input-2035318069.py:2: SyntaxWarning: invalid escape sequence '\s'
  x = re.split("\s", txt)

Control the number of occurrences by specifying the maxsplit parameter:

Split the string only at the first occurrence:

In [11]:
txt = "The rain in Spain"
x = re.split("\s", txt, 1)
print(x)

['The', 'rain in Spain']

<>:2: SyntaxWarning: invalid escape sequence '\s'
<>:2: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipython-input-2837848641.py:2: SyntaxWarning: invalid escape sequence '\s'
  x = re.split("\s", txt, 1)

The sub() Function

The sub() function replaces the matches with the text of your choice:

Replace every white-space character with the number 9:

In [12]:
txt = "The rain in Spain"
x = re.sub("\s", "9", txt)
print(x)

The9rain9in9Spain

<>:2: SyntaxWarning: invalid escape sequence '\s'
<>:2: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipython-input-906388696.py:2: SyntaxWarning: invalid escape sequence '\s'
  x = re.sub("\s", "9", txt)

Control the number of replacements by specifying the count parameter

Replace the first 2 occurrences:

In [13]:
txt = "The rain in Spain"
x = re.sub("\s", "9", txt, 2)
print(x)

The9rain9in Spain

<>:2: SyntaxWarning: invalid escape sequence '\s'
<>:2: SyntaxWarning: invalid escape sequence '\s'
/tmp/ipython-input-2426834309.py:2: SyntaxWarning: invalid escape sequence '\s'
  x = re.sub("\s", "9", txt, 2)

A Match Object is an object containing information about the search and the result.

Note: If there is no match, the value None will be returned, instead of the Match Object.

Do a search that will return a Match Object:

In [14]:
txt = "The rain in Spain"
x = re.search("ai", txt)
print(x)

<re.Match object; span=(5, 7), match='ai'>

The Match object has properties and methods used to retrieve information about the search, and the result:

- span() returns a tuple containing the start-, and end positions of the match.
- string returns the string passed into the function
- group() returns the part of the string where there was a match

Print the position (start- and end-position) of the first match occurrence.

The regular expression looks for any words that starts with an upper case "S":

In [15]:
txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.span())

(12, 17)

Print the string passed into the function:

In [16]:
txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.string)

The rain in Spain

Print the part of the string where there was a match.

The regular expression looks for any words that starts with an upper case "S":

In [17]:
txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.group())

Spain