<a href="https://colab.research.google.com/github/mehjabeenalam-ux/Learning_Python-for-Beginners/blob/main/BasicPythonFunctions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Basic Python Functions

Length of a variable

In [1]:
print(len('Python'))

6

Convert a number to an Integer

In [2]:
print(int(3.99))

3

Convert a number to a float

In [3]:
print(float(3))

3.0

Createing Ranges

In [9]:
print(range(5))

for x in range(5):
  print(x)

print(range(1,11,1))

for i in range(1,11,1):
  print(i)

range(0, 5)
0
1
2
3
4
range(1, 11)
1
2
3
4
5
6
7
8
9
10

Variable Type Checking

In [5]:
print(type(3))
print(type(3.14))
print(type("3"))
print(type("True"))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>