<a href="https://colab.research.google.com/github/mehjabeenalam-ux/Learning_Python-for-Beginners/blob/main/Date_Time_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Dates

A date in Python is not a data type of its own, but we can import a module named datetime to work with dates as date objects.

https://www.w3schools.com/python/python_datetime.asp

In Python, date and time functionality is provided by the built-in datetime module, which offers classes for manipulating dates, times, and time intervals.

Installing Date Time Module and Calculating Current Date and Time

In [ ]:
import datetime

x = datetime.datetime.now()
print(x)

2026-01-02 18:35:33.716292

Return the year and name of weekday

In [ ]:
import datetime

x = datetime.datetime.now()

print(x.year)
print(x.strftime("%A"))

2026
Friday

To get just the current date, you can use datetime.date.today():

In [47]:
from datetime import date

today = date.today()
print(today)
# Example Output: 2025-01-06

2026-01-06

2. Create Date and Time Objects: Custom Date Time


You can create specific date or time objects by passing integer arguments to the constructors.

In [48]:
from datetime import date, time, datetime

# Create a specific date: Year, month, day are mandatory
my_date = date(2020, 5, 17)
print(f"My date: {my_date}")

# Create a specific time: Hour, minute, second are optional
my_time = time(12, 30, 45)
print(f"My time: {my_time}")

# Create a specific datetime
my_datetime = datetime(2020, 5, 17, 12, 30, 45)
print(f"My datetime: {my_datetime}")

My date: 2020-05-17
My time: 12:30:45
My datetime: 2020-05-17 12:30:45

3. Format Dates and Times into Strings


The strftime() method is used to create human-readable strings from datetime objects using format codes.

Creating Date Objects

- To create a date, we can use the datetime() class (constructor) of the datetime module.

- The datetime() class requires three parameters to create a date: year, month, day.

In [49]:
from datetime import datetime

now = datetime.now()
# Format the date as "Tuesday, January 06, 2025, 04:19 PM"
formatted_date = now.strftime("%A, %B %d, %Y, %I:%M %p")
print(formatted_date)

Tuesday, January 06, 2026, 11:06 AM

In [ ]:
import datetime

x = datetime.datetime(2020, 5, 17)

print(x)

2020-05-17 00:00:00

The strftime() Method
- The datetime object has a method for formatting date objects into readable strings.

- The method is called strftime(), and takes one parameter, format, to specify the format of the returned string:

In [ ]:
import datetime

x = datetime.datetime(2018, 6, 1)

print(x.strftime("%B"))

June

	Weekday, short version %a

In [ ]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%a"))

Tue

	Weekday, full version %A

In [ ]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%A"))

Tuesday

	Weekday as a number 0-6, 0 is Sunday %w

In [ ]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%w"))

2

	Day of month 01-31  %d

In [ ]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%d"))

06

	Month name, short version %b

In [ ]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%b"))

Jan

	Month name, full version %B

In [ ]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%B"))

January

Month as a number 01-12 %m

In [ ]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%m"))

01

Year, short version, without century %y

In [ ]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%y"))

26

	Year, full version %Y

In [ ]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%Y"))

2026

	Hour 00-23 %H

In [ ]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%H"))

09

	Hour 00-12 %I

In [ ]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%I"))

09

	AM/PM %p

In [ ]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%p"))

AM

	Minute 00-59 %M

In [ ]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%M"))

45

Second 00-59 %S

In [ ]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%S"))

38

	Microsecond 000000-999999 %f

In [ ]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%f"))

305134

	UTC offset %z

In [ ]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%"))

Day number of year 001-366 %j

In [ ]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%j"))

006

	Week number of year, Sunday as the first day of week, 00-53 %U

In [ ]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%U"))

01

	Week number of year, Monday as the first day of week, 00-53 %W

In [ ]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%W"))

01

Local version of date and time %c

In [ ]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%c"))

Tue Jan  6 09:54:24 2026

Century %C

In [ ]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%C"))

20

Local version of date %x

In [ ]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%x"))

01/06/26

Local version of time %X

In [ ]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%X"))

09:55:51

	A % character %%

In [ ]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%%"))

%

	ISO 8601 year %G

In [ ]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%G"))

2026

	ISO 8601 weekday (1-7) %u

In [ ]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%u"))

2

	ISO 8601 weeknumber (01-53) %V

In [ ]:
import datetime

x = datetime.datetime.now()

print(x.strftime("%V"))

02

4. Perform Date Arithmetic

Use the timedelta class to calculate the difference between dates or add/subtract time intervals.

In [50]:
from datetime import datetime, timedelta

# Two dates
date1 = datetime(2025, 1, 1)
date2 = datetime(2025, 1, 31)

# Calculate the difference (returns a timedelta object)
difference = date2 - date1
print(f"Difference in days: {difference.days}") # Output: 30

# Add days to a date
future_date = date1 + timedelta(days=10, hours=2)
print(f"Date after 10 days and 2 hours: {future_date}")
# Output: 2025-01-11 02:00:00

Difference in days: 30
Date after 10 days and 2 hours: 2025-01-11 02:00:00